* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

title {
  text-transform: capitalize;
}

body {
  font-family: nimbus-sans, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(#0f0f0f, #63560d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(#0f0f0f, #63560d);
  /* Old browsers */

}

header, footer {
  background-color: #0f0f0f;
  min-height: 80px;
  position:static;
}

em {
  font-weight: bold;
}

strong {
  text-transform: capitalize;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
  z-index: 5;
}

.project-cell img {
  width:100%;
  height: 40%;
}

.jumbotron img {
  float: left;
  width: 10%;
  height:15%;
  border-radius: 15px;
  margin-right: 20px;
}

ol li {
  margin-left: 5%;
  text-transform: capitalize;
}

.jumbotron h1, .jumbotron h2, .jumbotron p{
  text-transform: capitalize;
  padding-top: 10px;
}

.container h2 {
  font-size: 35px;
  padding: 4% 0;
  text-transform: capitalize;
}

.container .grid h2 {
  margin-left: 2%;
  font-size: 27px;
  padding-top: 2.5%;
  padding-bottom: 0;
}

.list-container ul {
  overflow: auto;
  list-style-type: none;
}

.list-container li {
  height: auto;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #e1e1e1;
  padding: 0 20px;
}

.list-container li:last-child {
  border-right: none;
}

.list-container li a {
  text-decoration: none;
  color: #e1e1e1;
  text-transform: uppercase;
}

.horizon-fitting {
  max-width: 100%;
  height: auto;
}

.custom-container {
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
  /* overide bootstrap style */
}

.title-container {
  max-width: 80%;
  max-height: 50%;
  overflow:hidden;
  padding: 0;

  color: #e1e1e1;
  text-align: center;
  text-transform: uppercase;
}

.title-container h2 {
  font-size: 55px;
  padding: 75px 100px 0px 100px;
  letter-spacing: auto;
}

.title-container h3 {
  font-size: 30px;
  padding: 25px 100px 75px 100px;
  letter-spacing: auto;
}

.list-container {
  max-width: 80%;
  max-height: 50%;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: auto;
  text-align: center;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.floatleft {
  float:left;
}

.position1 {
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.position2 {
  top: 70%;
  left: 49%;
  transform: translate(-50%,-50%);
}

.opacity93 {
  opacity: 0.93;
}

.opacity75 {
  opacity: 0.75;
}

.whiteborder {
  border: 8px double #e1e1e1;
}

.custom-blockquote {
  text-align: center;
  border: 0;
}

.bgwhite {
  background-color: #c1c1c1;
  width:100%;
  height: 100%;
}
.margintop {
  margin-top: 5%;
}
.marginbottom {
  margin-bottom: 5%;
}
.paddingtop {
  padding-top: 5%
}
.paddingright {
  padding-right: 10%
}
.paddingbottom {
  padding-bottom: 5%
}
.paddingleft{
  padding-left: 10%
}
.paddingleft.paddingtop {
  padding: 5% 0 0 5%;
}

.textaligncenter {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 400px);
  overflow-x: scroll;
  overflow-y: hidden;

  grid-gap: 45px;
  padding-top: 50px;

  justify-items: stretch;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.date {
  color: #0f0f0f;
  font-style: italic;
  font-weight: 200;
  text-transform: capitalize;
  text-align: right;
  padding-right: 5px
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.project-cell {
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5)
}
