* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: nimbus-sans, sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

img {
  width: 1600px;
  height: 800px;
  z-index: 8000;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: auto;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #c1c1c1;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #c1c1c1;
  text-transform: uppercase;
}

.horizon-fitting {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #0f0f0f;
}

.title-container {
  max-width: 80%;
  max-height: 50%;
  overflow:hidden;
  border: 8px double #e1e1e1;
  padding: 0;

  color: #e1e1e1;
  text-align: center;
  text-transform: uppercase;
}

.title-container h2 {
  font-size: 55px;
  padding: 75px 100px 0px 100px;
  letter-spacing: auto;
}

.title-container h3 {
  font-size: 30px;
  padding: 25px 100px 75px 100px;
  letter-spacing: auto;
}

.list-container {
  max-width: 80%;
  max-height: 50%;
  overflow: hidden;

  font-size: 15px;
  letter-spacing: auto;
  text-align: center;
}

.fixed {
  position: fixed;
}

.position1 {
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.position2 {
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.opacity {
  opacity: 0.93;
}
